.App_Outer {
 width: 100%;
 height: 95vh;
 background: #1a1a1d;
 text-align: center;
}

.App_Inner1 {
  color:#C3073f;
  font-weight: bold;
  font-size: xxx-large;
  font-style: inherit;
  padding-top: 5%;
  text-align: left;
  margin-left: 42px;
}

.App_Inner2 {
  display:flex;
  flex-direction: row;
  width: 100%;
}

.App_Inner3 {
  width: 100%;
}

img {
  border-radius:55%;
  border-color: #C3073f;
  margin-top: 2%;
  margin-left: 42px;
}
